.gallery-banner-container {
    width: 100dvw;
    height: 80dvh;
    margin-top: 2rem;
    display: flex;
}

.gallery-banner-left-container {
    flex: 1;
    height: 80%;
    position: relative;
    background-color: #BB1732;
}

.gallery-banner-left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    top: 5%;
    left: 5%;
    position: absolute;

}

.gallery-banner-right-container {
    flex: 1.5;
    height: 100%;
    position: relative;
    
}

.gallery-info-container {
    width: 80dvw;
    height: 35%;
    background-color: #BFC3B0;

    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-info-cards-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: 100%;
    margin: 0; 
}
/*
.gallery-photos-container {
    height: 60%;
    padding: 1rem 3rem;
    position: relative;
}*/

.gallery-photos {
    width: 100%;
    height: 100%;

    gap: 0.5rem;
    display: flex;
    transition: transform 0.3s ease-in-out;

}

.gallery-photos img {
  flex: 1;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  width: calc(100% / 3 - 0.5rem); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.arrows-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    display: flex;

    align-items: center;
    pointer-events: none; 
    justify-content: space-between;
}

.arrow-icon {
    display: flex;
    margin: 0 4rem;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.4);
}

.arrow-icon svg {
    transition: all 0.2s ease-in-out;
}

.arrow-icon:hover {
    background-color: rgba(0,0,0,0.7);
}

.arrow-icon:active {
    transform: scale(0.8);
}

.arrow-icon.left:hover {
    svg {
        transform: translateX(-2px);
    }
}

.arrow-icon.right:hover {
    svg {
        transform: translateX(2px);
    }
}


.gallery-photos-container {
  overflow: hidden; /* importante para que no se vean las imágenes fuera */
  height: 60%;
  padding: 1rem 3rem;
  position: relative;
}

.gallery-photos-track {
  display: flex;
  gap: 0.5rem;
}

.gallery-photos-track img {
  flex: 0 0 calc(100% / 3); /* ancho proporcional al número de imágenes visibles */
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}



@media (max-width:900px) {
    .gallery-banner-container {
        height: 40dvh;
    }
}

@media (max-width:500px) {
    .gallery-banner-left-container img {
        top: 3%;
        left: 3%;
    }
    
    .gallery-info-container {
        height: 25%;
        bottom: 4%;
    }

    .gallery-info-cards-container {
        gap: 0.1rem;
    }

    .gallery-photos-container {
        height: 70%;
        padding: 0.1rem 0.5rem;
    }

    .gallery-photos {
        gap: 0.3rem;
    }

    .arrows-container {
        padding: 0 0.6rem;
    }

    .arrow-icon {
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
    }
}