.home-banner-container {
    width: 100dvw;
    height: 100dvh;
    margin-top: 4rem;

    display: flex;
    position: relative;
}

.home-banner-left-container {
    flex: 2;
    gap: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 8rem;
    flex-direction: column;
}

.home-banner-right-container {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #BB1732;

    display: flex;
    justify-content: flex-end;
}

.home-banner-left-container h1 {
    color: #BB1732;
    font-size: 8rem;
    font-weight: bold;
    white-space: pre-line;     
    word-break: break-word; 
}

.home-banner-description {
    width: 70%;
    color: black;
    font-size: large;
    text-align: left;
    margin-bottom: 1rem;
}

.home-banner-info-cards-container {
    gap: 2rem;
    width: 100%;
    display: flex;
}

.strawberry-banner-image {
    top: 12%;
    left: 45%;
    width: 55rem;
    position: absolute;
}

.home-banner-right-container h1 {
    height: 100%;
    font-size: 26dvh;
    color: #CF5C6F;
    margin-right: -2.5rem;
    writing-mode: sideways-lr; 
    text-orientation: upright;
}

.default-button-icon {
    gap: 0.5rem;
    display: flex;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-right: 0rem;
    align-items: center;
    padding-bottom: 0.2rem;
}

.default-button-icon div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #C9455B;
}

.button-buy-now svg {
    width: 1.8rem;
}

@media (max-width:1800px) {
    .home-banner-left-container h1 {
        font-size: 4rem;
    }

    .home-banner-description {
        font-size: 1rem;
    }

    .strawberry-banner-image {
        top: 10%;
        left: 54%;
        width: 25rem;
    }
}

@media (max-width:1024px) {
    .home-banner-container {
        height: 80dvh;
    }

    .home-banner-left-container {
        margin-left: 1rem;
    }

    .strawberry-banner-image {
        top: 10%;
        left: 45%;
        width: 25rem;
    }

    .home-banner-right-container h1 { 
        font-size: 21dvh;
    }
}


@media (max-width:900px) {
    .home-banner-container {
        height: 55dvh;
    }

    .home-banner-left-container h1 {
        font-size: 3rem;
    }

    .strawberry-banner-image {
        display: none;
    }  

    .home-banner-right-container h1 {
        font-size: 14.5dvh;
    }
}

@media (max-width:800px) {
    .home-banner-left-container h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .home-banner-info-cards-container {
        gap: 0.5rem;
        justify-content: center;
    }

    .home-banner-container {
        height: 35dvh;
    }

    .button-buy-now, .home-banner-description  {
        display: none;
    }

    .home-banner-right-container h1 {
        font-size: 9dvh;
        margin-right: -1.5rem;
    }

    .home-banner-left-container {
        gap: 0;
        margin-left: 0;
        justify-content: space-around;
    }

    .home-banner-right-container {
        flex: 0.6;
    }

}


