.information-banner-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    margin: 2rem 0rem;
    background-color: #BB1732;
}

.information-banner-cards {
    flex: 1;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.information-banner-video {
    flex: 2;
    border-radius: 2rem;
}

@media (max-width:1024px) {
    .information-banner-container {
        height: 50vh;
    }
}

@media (max-width:800px) {
    .information-banner-container {
        height: 40vh;
    }
}

@media (max-width:550px) {
    .information-banner-container {
        height: 50vh;
        flex-direction: column;
        background-color: transparent;
    }

    .information-banner-cards {
        order: 2;
        flex-direction: row;
    }

    .information-banner-video {
        order: 1;
        padding: 0.5rem;
    }
}