.stack-type-container {
    gap: 5rem;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-around;

    padding: 1rem;
    border-radius: 2rem;
    background-color: #F2F2F2;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}

.stack-type-container button {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: transparent;
}

@media (max-width:800px) {
    .stack-type-container {
        padding: 0.6rem;
    }

    .stack-type-container button {
        font-size: 0.7rem;
    }
}

@media (max-width:500px) {
    .stack-type-container {
        gap: 2rem;
    }

    .stack-type-container button {
        font-size: 0.5rem;
    }
}