.card-information {
    gap: 1rem;
    width: 10rem;
    display: flex;
    padding: 1rem 0rem;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
}

.card-information img {
    width: 6rem;
}

.card-information p {
    width: 100%;               
    font-size: larger;
    font-weight: bold;
    text-align: center;        
    white-space: pre-line;     
    word-break: break-word;    
}

@media (max-width:1200px) {
    .card-information img {
        width: 4rem;
    }
}

@media (max-width:900px) {
    .card-information {
        width: 8rem;
    }

    .card-information img {
        width: 2.5rem;
    }

    .card-information p {
        font-size: medium;
    }
}

@media (max-width:800px) {
    .card-information {
        width: 5rem;
    }

    .card-information img {
        width: 1.5rem;
    }

    .card-information p {
        font-size: small;
    }
}