.card-information {
    gap: 1rem;
    width: 10rem;
    display: flex;
    padding: 2rem 0rem;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: #BB1732;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.card-information img {
    width: 5rem;
}

.card-information p {
    width: 100%;               
    font-size: larger;
    font-weight: bold;
    text-align: center;        
    white-space: pre-line;     
    word-break: break-word;    
}