.video-about-us-container {
    width: 90dvw;
    height: 70dvh;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 1rem;
}

@media (max-width:700px) {
    .video-about-us-container {
        height: 60dvh;
    }
}

@media (max-width:500px) {
    .video-about-us-container {
        width: 95dvw;
        height: 30dvh;
        margin: 1rem auto;
    }
}