.video-about-us-container {
    width: 90vw;
    height: 70vh;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 1rem;
}


@media (max-width:700px) {
    .video-about-us-container {
        height: 60vh;
    }
}

@media (max-width:500px) {
    .video-about-us-container {
        width: 95vw;
        height: 30vh;
        margin: 1rem auto;
    }
}